<footer id="site-footer" class="navbar-inverse">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 brand-copy">
        <a href="{% if page.url != '/' %}/{% endif %}#site-nav" class="navbar-brand">ICT-EDU</a>
        <h4>Copyright &copy; 2016 - ICTEDU - All right reserved</h4>
      </div>
      <div class="col-sm-4 dev">
        <h1>
          <h4>
            Designed by <a href="http://www.syahmifauzi.com/" target="_blank">Syahmi Fauzi</a>
          </h4>
        </h1>
      </div>
    </div>

  </div>
</footer>
