<div id="aboutUs">
  <div class="row">
    <div class="col-xs-12">
      <h1>Our Writers</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="imgBox">
        <div class="img-us sf-img"></div>
      </div>
      <h3>Syahmi Fauzi</h3>
      <p>
        Student of CFSIIUM<br />
        19 Years Old<br />
        A guy who loves <span style="font-family: monospace">&lt;code&gt;</span><br />
        More about me at my
        <a href="http://www.syahmifauzi.com/">website</a>
      </p>
    </div>

    <div class="col-sm-3">
      <div class="imgBox">
        <div class="img-us na-img"></div>
      </div>
      <h3>Nur Arif</h3>
      <p>
        Student of CFSIIUM<br />
        19 Years Old<br />
        Happy to learn from others
      </p>
    </div>

    <div class="col-sm-3">
      <div class="imgBox">
        <div class="img-us is-img"></div>
      </div>
      <h3>Iqbal Saidi</h3>
      <p>
        Student of CFSIIUM<br />
        19 Years Old<br />
        In love with power<br />
        Better don't make me have one..
      </p>
    </div>

    <div class="col-sm-3">
      <div class="imgBox">
        <div class="img-us ss-img"></div>
      </div>
      <h3>Solihin Shahril</h3>
      <p>
        Student of CFSIIUM<br />
        19 Years Old<br />
        Shy and quiet person
      </p>
    </div>

  </div>
</div>
