<div class="row" id="home-header">
  <div class="col-xs-12">
    <div id="header-text">
      <h1>Welcome to ICT Educational Website (ICT-EDU)</h1>
      <p>This is a place where you can learn things about ICT..</p>
      <p>
        What is ICT?<br />
        ICT stand for Information and Communication Technology.
        It is a technology required for information processing,
        the use of electronic computers, communication devices and
        software applications to convert, store, protect transmit and
        retrieve information from anywhere and anytime.<br />
        Here, we will post the information that you need to know,
        lesson by lesson that will guide you to understand the technology.
        We hope you enjoy throughout the lesson.
      </p>
    </div>
  </div>
</div>
