<div id="aboutUs">
  <div class="row">
    <div class="col-xs-12">
      <h1>Our Writers</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="imgBox">
        <div class="img-us sf-img"></div>
      </div>
      <h3>Syahmi Fauzi</h3>
      <p>
        Student of CFSIIUM<br />
        19 Years Old<br />
        Web Designer and Developer<br />
        Learn more about me at my
        <a href="http://www.syahmifauzi.com/">website</a>
      </p>
    </div>

    <div class="col-sm-3">
      <div class="imgBox">
        <div class="img-us na-img"></div>
      </div>
      <h3>Nur Arif</h3>
      <p>
        Student of CFSIIUM<br />
        19 Years Old<br />
        Saye Abam Hensem.. Sado..<br />
        Jadilah Abam
      </p>
    </div>

    <div class="col-sm-3">
      <div class="imgBox">
        <div class="img-us is-img"></div>
      </div>
      <h3>Iqbal Saidi</h3>
      <p>
        Student of CFSIIUM<br />
        19 Years Old<br />
      </p>
    </div>

    <div class="col-sm-3">
      <div class="imgBox">
        <div class="img-us ss-img"></div>
      </div>
      <h3>Solihin Shahril</h3>
      <p>
        Student of CFSIIUM<br />
        19 Years Old<br />
      </p>
    </div>

  </div>
</div>
