<!-- Carousel BEGIN -->
<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="carousel-caption">
        <h3>Today Word of Wisdom:</h3>
        <p>
          <q> A great Graphics Card need a great CPU to maximize its utilization. Thus, great eyes need great brain to fully function </q>
        </p>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption">
        <h3>Top Readed Lessons:</h3>
        <p>
          <ul>
            <li><a href="/lessons">The System Unit</a> by Syahmi Fauzi</li>
            <li><a href="/lessons">Input & Output</a> by Iqbal Saidi</li>
            <li><a href="/lessons">Communication & Networks</a> by Nur Arif</li>
            <li><a href="/lessons">Privacy, Ethics & Cyber Crime</a> by Solihin Shahril</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption">
        <h3>Towards The Future:</h3>
        <p>
          With Virtual Reality(VR) technology entering commercial level, We will finally able to get the almost real virtual experience in our daily life in near future.
        </p>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Carousel END -->
