@mixin hideText {
  /* Hide the text */
  text-indent: -201%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin responsiveImages($imgS, $imgM, $imgL, $imgXL) {
  background-image: url($imgS); // Width below 640px
  @media all and (min-width: 640px) {background-image: url($imgM);}
  @media all and (min-width: 900px) {background-image: url($imgL);}
  @media all and (min-width: 1024px) {background-image: url($imgXL);}
  background: {
    size: cover;
    position: center center;
    color: rgba(0, 0, 0, 0.1);
  }
  height: 100%;
  width: 100%;
}

@mixin bg-img-contain($imgURL) {
  background: {
    image: url($imgURL);
    repeat: no-repeat;
    position: center;
    size: contain;
  }
}

@mixin bg-dark-default {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-shadow: 1px 1px 15px #fff;
    }
  }
}

@mixin box-shadow-default {
  box-shadow: 1px 1px 20px 1px #333;
}

@mixin txt-shadow-dark-default {
  text-shadow: 1px 3px 10px #333;
}
@mixin txt-shadow-light-default {
  text-shadow: 1px 2px 50px #fff;
}
