#site-nav, #site-footer {
  margin-right: -15px;
  margin-left: -15px;
  .container a.navbar-brand {
    background: {
      image: url("/assets/img/ictedu.png");
      repeat: no-repeat;
      position: center;
      size: contain;
    }
    @include hideText;
    height: auto;
    width: 120px;
  }
}

#site-footer .container {
  padding: 70px 20px;
  min-height: 200px;
  text-align: center;
  .brand-copy {
    a, h4 {color: #aaa;}
    h4 {
      padding-top: 10px;
      padding-left: 10px;
      display: inline-block;
    }
  }
  .dev {color: #aaa;}
}
