#home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include responsiveImages("/assets/img/bg/code-s.png", "/assets/img/bg/code-m.png", "/assets/img/bg/code-l.png", "/assets/img/bg/code-xl.png");
  height: 100vh;
  width: auto;
  min-height: 400px;
  max-height: 600px;
  margin-top: -20px;
  #header-text {
    max-width: 1200px;
    margin: auto auto;
    color: #fff;
    @include bg-dark-default;
    padding: 20px;
    border-radius: 5px;
  }
}
