.io-bg {
  color: #09fff6;
  font-size: 17px;
  font-family: "Times New Roman";
  background-color: #4f81ab !important;
  h1, h2 {
    color: #111;
  }
  img {
    border: 2px solid black;
    height: auto;
    max-height: 200px;
    width: 30%;
    max-width: 100%;
    border-radius: 5px;
    margin: 5px;
    @media all and (max-width: 900px)
      {width: 300px;}
  }
  li {
    // list-style-type: none;
    margin-left: 5px;
  }
  marquee {
    border-radius: 5px;
    text-align: center;
  }
}
