#lesson-container-fluid {
  @include responsiveImages("/assets/img/bg/ict-bg-s.png", "/assets/img/bg/ict-bg-m.png", "/assets/img/bg/ict-bg-l.png", "/assets/img/bg/ict-bg-xl.png");
}
#lesson-post-container {
  text-align: center;
  .lesson-header {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include bg-dark-default;
    max-width: 600px;
    margin: 0px auto;
    padding: 10px 20px;
    @media all and (max-width: 640px)
      {display: inline-block; max-width: 350px;}
  }
  .lesson-author-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto 0 auto 20px;
    box-shadow: 1px 2px 10px #999;
    @media all and (max-width: 600px)
      {margin: 10px auto;}
  }
  .lesson-description {
    color: #ddd;
  }
  .container {
    text-align: left;
    background-color: #fff;
    max-width: 960px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #333;

    .img-row {
      text-align: center;
      width: 100%;
      .img-box {
        display: inline-block;
        min-width: 30%;
        max-width: 300px;
        height: auto;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        img {
          // width: 200px;
          max-width: 200px;
          height: auto;
          margin: 0 auto;
          border-radius: 5px;
        }
      }
      iframe.video-ict {
        width: 560px;
        height: 315px;
        @media all and (max-width: 660px) {
          width: 100%;
          max-height: 300px;
        }
      }
    }
    .credits {
      text-align: center;
    }
  }
  hr {
     margin: 30px 0;
     border: 1px #aaa dotted;
  }
  .lesson-nav {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      @include bg-dark-default;
      list-style-type: none;
      padding: 10px;
      margin: 20px 0;
      &:first-child {margin-right: 10px;}
      &:last-child {margin-left: 10px;text-align: right;}
      a {
        font-size: 17px;
      }
    }
  }
}
