<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}

  </head>
  <body>
    <div class="container-fluid" {% if page.url != "/" %}id="lesson-container-fluid"{% endif %}>
      {% include homepage/section-navigation.html %}

      {{ content }}

      {% include toTop.html %}
      {% include homepage/section-footer.html %}
      <!-- Scripts -->
      <script src="{{"/assets/js/jquery-1.12.0.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
      <script src="{{"/assets/bootstrap-3.3.6/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
      <script type="text/javascript" src="{{"/assets/js/main.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
      <noscript>Please enable JavaScript!</noscript>
    </div>
  </body>
</html>
